doctype html
html(lang="ko")
    head
        title Vtuber
    body
        h1 Vtuber's house
        input
        button send
        h3 #{AIResponse}
    footer &copy; #{new Date().getFullYear()} kvvnn