extends base

block content
    canvas#live2d-canvas
    script(type="module").
        | import { LAppDelegate } from "Samples/TypeScript/Demo/dist/assets/index-DAhHvHok.js";
        |
        | window.addEventListener('load', () => {
        |     if (LAppDelegate.getInstance().initialize() == false) {
        |         return;
        |     }
        |     LAppDelegate.getInstance().run();
        | });
